body {
  font-family: "Arimo", "Arial", sans-serif;
  line-height: 1.5;
}

h1 {
  color: #c7c8cc;
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  padding: 20px;
  max-width: 960px;
}

header,
nav,
footer {
  font-family: "Arimo";
  background-color: rgb(0, 0, 0);
  padding: 20px;
  max-width: 960px;
}

section {
  color: #c7c8cc;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
}

alt-bg {
  background-color: rgba(201, 53, 68, 0.2); 
}

main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  max-width: 960px;
}

p {
  text-align: justify;
  font-size: 18px;
}

img {
  float: left;
  padding: 20px;
  margin: 15px;
}

#about {
  grid-area: about;
  padding: 10px;
  max-width: 960px;
}

#baseball {
  grid-area: baseball;
  padding: 10px;
}

#soccer {
  grid-area: soccer;
  padding: 10px;
}

#basketball {
  grid-area: basketball;
  padding: 10px;
}

#lacrosse {
  grid-area: lacrosse;
  padding: 10px;
}

#rowing {
  grid-area: rowing;
  padding: 10px;
}

#softball {
  grid-area: softball;
  padding: 10px;
}

a:hover {
  background-color: rgb(200, 200, 200)
}

a:active {
  background-color: rgb(0, 163, 221)
}